body {
    margin: 0;
    min-height: 100vh;
    background-image: url("heart-bg.jpeg");
    background-size: cover;
    background-position: center;
    font-family: "Pixelify Sans", sans-serif;
}


/* Envelope Screen */
#envelope-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}


@keyframes pulse {
    0% {
        transform:scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#envelope{
    width: 200px;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

#letter-container {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.letter-window {
    width: 800px;
    max-width: 90vw;
    aspect-ratio: 3 / 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("window.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    padding-top: 140px;
    padding-bottom: 30px;

    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}


.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}


p {
    font-size: 40px;
}

/* Cat */

.cat {
    width: 240px;
    margin: 10px 0;
}


.letter-window.final .cat {
    width: 180px;
}

/* buttons */
.buttons {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}


.no-wrapper{
    position:relative;
}

.btn {
    width: 120px;
    cursor: pointer;
    user-select: none;
}

.yes-btn,
.no-btn {
width: 120px;
height: auto;
display: inline-block;
}

.yes-btn {
    position: relative;
    z-index: 2;
    transform-origin: center center;
    transition: transform 0.3s ease;
}

.no-btn {
    z-index: 1;
    position: relative;
    transition: transform 0.15s ease;
    cursor: default;
}

.final-text{
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255,240,240,0.5);
    border-radius: 12px;
}